### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
purchase_data.head()
player_tot = purchase_data['SN'].nunique()
player_num = {"Total Players": [player_tot]}
player_df = pd.DataFrame(data = player_num)
player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Number of Unique Items
unique_items = purchase_data["Item ID"].nunique()

In [6]:
# Average Price
item_avg_price = "{:.2f}".format(purchase_data["Price"].mean())
item_price_str = "$" + item_avg_price
item_price_str

'$3.05'

In [7]:
# Number of Purchases
num_purchases = purchase_data["Purchase ID"].nunique()
num_purchases

780

In [8]:
# Total Revenue
revenue = purchase_data["Price"].sum()
revenue_str = f"${revenue}"
revenue_str

'$2379.77'

In [9]:
# Purchasing Analysis
analysis_data = {'Number of Unique Items': [unique_items],
                    'Average Price': [item_price_str],
                    'Total Revenue': [revenue_str]
                }

purchases_df = pd.DataFrame(data=analysis_data)
purchases_df

   Number of Unique Items Average Price Total Revenue
0                     179         $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# Percent and Count of Male Players
male_player_df = purchase_data.loc[purchase_data['Gender'] == 'Male',:]
male_player_ct = male_player_df["SN"].nunique()
male_player_percent = f'{round( (male_player_ct / player_tot)*100, 2)}%'

In [11]:
# Percent and Count of Female Players
female_player_df = purchase_data.loc[purchase_data['Gender'] == 'Female',:]
female_player_ct = female_player_df["SN"].nunique()
female_player_percent = f'{round( (female_player_ct / player_tot)*100, 2)}%'

In [12]:
# Percent and Count of Other/Non-Disclosed Players
other_player_df = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',:]
other_player_ct = other_player_df["SN"].nunique()
other_player_percent = f'{round( (other_player_ct / player_tot)*100, 2)}%'
other_player_percent

'1.91%'

In [13]:
# Gender Demographics Table
gender_demo_dict = {'Gender':['Male','Female','Other / Non-Disclosed'],
                    'Total Count': [male_player_ct, female_player_ct, other_player_ct],
                    'Percentage of Players': [male_player_percent, female_player_percent, other_player_percent]
                   }
gender_demo_df = pd.DataFrame(data = gender_demo_dict)
gender_demo_df
gender_demo_df = gender_demo_df.set_index('Gender')
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Purchase Count by Gender: Dataframes
purchase_other_df = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',:]
purchase_male_df = purchase_data.loc[purchase_data['Gender'] == 'Male',:]
purchase_female_df = purchase_data.loc[purchase_data['Gender'] == 'Female',:]

In [15]:
# Calculate Purchase Counts
purchase_other_ct = len(purchase_other_df)
purchase_male_ct = len(purchase_male_df)
purchase_female_ct = len(purchase_female_df)

In [16]:
# Calculate Average Purchase Prices
purchase_other_avg = f'${round(purchase_other_df["Price"].mean(),2)}'
purchase_male_avg = f'${round(purchase_male_df["Price"].mean(),2)}'
purchase_female_avg = '${:,.2f}'.format(round(purchase_female_df["Price"].mean(),2))

In [17]:
# Calculate Total Purchase Values
purchase_other_total = round(purchase_other_df["Price"].sum(),2)
purchase_other_total_str = '${:,.2f}'.format(purchase_other_total)

purchase_male_total = round(purchase_male_df["Price"].sum(),2)
purchase_male_total_str = '${:,.2f}'.format(purchase_male_total)

purchase_female_total = round(purchase_female_df["Price"].sum(),2)
purchase_female_total_str = '${:,.2f}'.format(purchase_female_total)

In [18]:
# Calculate Average Total Purchases per Person, total purchase value / unique purchasers of that gender
purchase_other_avg_per = purchase_other_total / other_player_ct
purchase_other_avg_per_str = '${:,.2f}'.format(purchase_other_avg_per)

purchase_male_avg_per = purchase_male_total / male_player_ct
purchase_male_avg_per_str = '${:,.2f}'.format(purchase_male_avg_per)

purchase_female_avg_per = purchase_female_total / female_player_ct
purchase_female_avg_per_str = '${:,.2f}'.format(purchase_female_avg_per)
purchase_female_avg_per_str

'$4.47'

In [19]:
# Create Summary Dataframe
gender_purchase_dict = {'Gender':['Male','Female','Other / Non-Disclosed'],
                    'Purchase Count': [purchase_male_ct, purchase_female_ct, purchase_other_ct],
                    'Average Purchase Price': [purchase_male_avg, purchase_female_avg, purchase_other_avg],
                    'Total Purchase Value':[purchase_male_total_str,purchase_female_total_str,purchase_other_total_str],
                    'Avg Total Purchase per Person':[purchase_male_avg_per_str,purchase_female_avg_per_str,
                                                    purchase_other_avg_per_str]
                   }
gender_purchase_df = pd.DataFrame(data = gender_purchase_dict)
gender_purchase_df
gender_purchase_df = gender_purchase_df.set_index('Gender')
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [50]:
# Dataframe containing only unique players:
unique_player_df = purchase_data.drop_duplicates(subset='SN')

In [136]:
# create bin and bin labels
age_demo = pd.DataFrame()
age_bin = [0,9,14,19,24,29,34,39, 1000]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# create Binned dataframe
age_demo['Total Count'] = pd.cut(unique_player_df['Age'], age_bin, labels=bin_labels)
ageCount = age_demo['Total Count'].value_counts()
age_demo_df = pd.DataFrame(data = ageCount)

# sort the dataframe in ascending order
age_demo_df = age_demo_df.sort_index()


# add percentage of players column
age_demo_df['Percentage of Players'] = round((age_demo_df['Total Count'] / player_tot)*100,2)
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].astype(str)
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'] + '%'
age_demo_df
#f'{round( (other_player_ct / player_tot)*100, 2)}%'

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [156]:
age_analysis_df = pd.DataFrame()

# Create temporary dataframe to contain binned age range data
aged_df['Age Ranges'] = pd.cut(purchase_data['Age'], purchase_bin, labels = purchase_bin_labels)


# age_analysis_df['Average Purchase Price'] = aged_df.groupby('Age Ranges')['Price']

# group and sum the data to obtain total purchase values, then add to the final analysis dataframe
age_analysis_df['Purchase Count'] = aged_df.groupby('Age Ranges')['Price'].count()
age_analysis_df['Total Purchase Value'] = round(aged_df.groupby('Age Ranges')['Price'].sum(),2)
age_analysis_df['Average Purchase Price'] = round(age_analysis_df['Total Purchase Value'] / age_analysis_df['Purchase Count'],2)
age_analysis_df['Avg Total Purchase per Person'] = round(age_analysis_df['Total Purchase Value'] / age_demo_df['Total Count'],2)

# format the table
age_analysis_df['Average Purchase Price'] = '$' + age_analysis_df['Average Purchase Price'].astype(str)
age_analysis_df['Avg Total Purchase per Person'] = '$' + age_analysis_df['Avg Total Purchase per Person'].astype(str)
age_analysis_df['Total Purchase Value'] = '$' + age_analysis_df['Total Purchase Value'].astype(str) 

age_analysis_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,$1114.06,$3.05,$4.32
25-29,101,$293.0,$2.9,$3.81
30-34,73,$214.0,$2.93,$4.12
35-39,41,$147.67,$3.6,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [177]:
top_spender = pd.DataFrame()
top_spender['Purchase Count'] = purchase_data['SN'].value_counts()
top_spender['Total Purchase Price'] = round(purchase_data.groupby('SN')['Price'].sum(),2)
top_spender['Average Purchase Price'] = round(top_spender['Total Purchase Price'] / top_spender['Purchase Count'],2)

# Format the data
top_spender['Total Purchase Price'] = '$' + top_spender['Total Purchase Price'].astype(str)
top_spender['Average Purchase Price'] = '$' + top_spender['Average Purchase Price'].astype(str)

top_spender.head()

             Purchase Count Total Purchase Price Average Purchase Price
Lisosia93                 5               $18.96                  $3.79
Iral74                    4               $13.62                   $3.4
Idastidru52               4               $15.45                  $3.86
Iri67                     3               $11.37                  $3.79
Siallylis44               3               $10.37                  $3.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [282]:
pop_items_two = pd.DataFrame()
pop_items_two['Purchase Count'] = purchase_data['Item ID'].value_counts()

pop_items_two['Total Purchase Value'] = purchase_data.groupby('Item ID')['Price'].sum()
pop_items_two['Item Price'] = purchase_data.groupby('Item ID')['Price'].mean()


pop_items_two

     Purchase Count  Total Purchase Value  Item Price
92               13                 59.99    4.614615
178              12                 50.76    4.230000
108               9                 31.77    3.530000
132               9                 28.99    3.221111
82                9                 44.10    4.900000
..              ...                   ...         ...
104               1                  1.93    1.930000
27                1                  3.30    3.300000
134               1                  4.50    4.500000
118               1                  2.17    2.170000
91                1                  4.17    4.170000

[179 rows x 3 columns]

In [288]:
pop_items_one = pd.DataFrame()
pop_items_one = purchase_data.sort('Item ID')


# popular_items['Purchase Count'] = purchase_data['Item ID'].value_counts()
# popular_items['Purchase Count'] = purchase_data['Item ID'].value_counts()
# popular_items['Total Purchase Value'] = purchase_data.groupby('Item ID')['Price'].sum()
# popular_items['Item Price'] = purchase_data.groupby('Item ID')['Price']

pop_items_one

AttributeError: 'DataFrame' object has no attribute 'sort'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80